<%- include("./layouts/header")%>

    <div class="container position-relative" style="width: 50%; height: 80vh;" role="main">

        <div class="csContentHome">
            <h1>Learn <span class="text-primary fw-bolder">Node Js</span> at FPT Aptech</h1>
            <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nobis exercitationem, architecto
                beatae ipsam quibusdam tempora corporis ipsa minus assumenda recusandae voluptates, harum qui explicabo
                expedita commodi debitis temporibus maiores?</p>
                <a href="/" class="btn btn-primary">View more</a>
        </div>

    </div>

    <%- include("./layouts/footer")%>